.header{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: steelblue;
    grid-area: h;
}
    .header img{
        margin-left: 5px;
        height: 40px;
        width: 40px;
    }
.login {
    display: flex;
    align-self: center;
    margin-right: 30px;
}
.login a:hover {
    color: black;
}