.myPosts{
    display: grid;
    justify-content: start;
}
.myPosts > .createPost {
    margin-top: 2px;
}
    button {
        margin: 0px 0px 20px 160px;
    }
    .createPost > textarea{
        margin: 0px 10px 0px 10px;
        font-size: 20px;
    }
    .textArea {
        border: 1px solid white;
        border-radius: .4em;
    }
.header {
    margin-left: 20px;
    margin-top: 40px;
}
