.myPosts > .createPost {
    display: grid;
    justify-content: start;
    margin-top: 2px;
}
    .button {
        font-size: 14px;
        padding: 6px;
        border: none;
        border-radius: 4px;
        margin: 8px 10px 20px 150px;
        background-color: rgb(77, 142, 196);
        color: white;
    }
    .button:hover {
        background-color: rgb(49, 106, 154);
    }
    .textArea {
        border: 1px solid white;
        margin-bottom: 10px;
        border-radius: .4em;
        margin: 0px 10px 0px 10px;
        font-size: 20px;
    }
.header {
    margin-left: 20px;
    margin-top: 40px;
}
