.myPosts{
    display: grid;
    justify-content: start;
}
.myPosts > .createPost {
    margin-top: 2px;
}
.createPost > textarea{
        margin: 10px;
        font-size: 20px;
    }
    .createPost > button {
        display: grid;
        margin: -5px 0px 10px 10px;
        width: 70px;
        height: 20px;
        background-color: steelblue;
        border-radius: 5px;
        color: aliceblue;
    }
    .textArea {
        border: 1px solid white;
        border-radius: .4em;
    }
