.news {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: flex-start;
    font-family: sans-serif;
    color: grey;
    background: no-repeat url('./../../img/news.png') center/25%
}

@media(min-width: 768px){
    .news{
        background: no-repeat url('./../../img/news.png') center/12%

    }
}