.component {
    display: grid;
    grid-template-columns: 180px 3fr;
    font-family: sans-serif;
    margin-top: 10px;
}
.imageContainer {
    display: grid;
    justify-content: center;
}
.img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.dialogs {
    display: grid;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    color: rgba(6, 165, 205);
}
.messages {
    display: grid;
    flex-direction: column;
    align-items: flex-start;
}

    .messages > .message {
        display: flex;
        margin: 10px 0px 10px 0px;
    }
.dialog {
    display: grid;
    align-self: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
}
.name {
    font-weight: bold;
}
.text {
    padding: 10px;
    margin-left: 25px;
}

.speechBubble {
	position: relative;
	background: white;
	border-radius: .4em;
}

.speechBubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: white;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}

@media( max-width: 576px) {
    .component {
        grid-template-columns: 120px 3fr;
    }
}